.mobile-menu-dialog {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75); /* Black w/opacity */
  transition: 0.5s;
}

.mobile-menu-dialog-open {
  width: 100%;
}

.mobile-menu-body {
  background-color: white;
  height: 100%;
  width: 60%;
  padding: 1em;
}

.mobile-menu-body a {
  padding: 9px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.md-links {
  margin-top: 2em;
}
